/**
 Common
*/

body {
  font-family: 'Kiwi Maru'
}

a {
  text-decoration: none;
}

header {
  padding: 20px;
  background-color: #FFFFFF;
  z-index: 10;
}

@media screen and (max-width: 959px) {
  .btn-success, .btn-primary {
    width: 100%;
  }
}

h1 {
  font-size: 20px;
  float: left;
}

#main-container {
  width: 100%;
  padding-top: 100px;
}

#back-to-list {
  margin-bottom: 1em;
}

.logout, .change-management {
  float: right;
  margin-left: 0.3em;
}

#notice {
  width: 100%;
  padding: 1em;
  background-color: #FFFACD;
  margin-bottom: 0.5em;
}

#notice p {
  line-height: 100%;
  margin: 0 0;
  padding: 0 0;
}

.label-list {
  padding: 0.5em;
}

.label-list li {
  padding: 3px 10px;
}

/**
error
*/

#error-container {
  padding: 30px 0;
}

#error-display {
  padding: 1em;
}

#error-display h1 {
  float: none;
  font-size: 3em;
}

/**
login
*/

#login {
  padding: 1em;
}

/**
 index(task list)
*/

#create-task {
  margin-bottom: 1em;
}

#search-form {
  padding: 1em;
  margin-bottom: 1em;
}

#search-form p {
  line-height: 120%;
  padding: 0px;
  margin: 0px;
}

h2.task-name span {
  width: 5em;
  line-height: 100%;
  font-size: small;
  text-align: center;
  padding: 0.5em 0;
  margin: 0px 10px;
}

/**
 index-Pagination
*/

.pagination {
  width: 100%;
  padding: 1em;
}

.pagination span {
  padding: 0.3em 0.5em;
  margin: 0 0.1em;
}

.pagination span.page {
  border: 1px solid;
  border-color: #DDDDDD;
}

/**
 index-sort link
*/

#sort-form {
  margin-bottom: 0.5em;
}

#sort-form a {
  border-right: 1px solid;
  border-color: #BBBBBB;
  padding-right: 0.5em;
}

#sort-form a:last-child {
  border: none;
}

/**
 New / edit
*/

#edit-form {
  padding: 1em;
}

#edit-form table {
  width: 100%;
}

#edit-form th {
  vertical-align: center;
  padding-bottom: 1em;
  font-size: 1.5em;
  white-space: nowrap
}

#edit-form td {
  padding-left: 1em;
  padding-bottom: 1em;
}

#edit-form textarea {
 width: 50%;
 height: 20em;
}

@media screen and (max-width: 959px) {
  #edit-form th {
    font-size: 1em;
  }

  #edit-form textarea {
    width: 100%;
    height: 20em;
  }
}

/**
 Show
*/

#show-area {
  padding: 1em;
}

#show-area h2 {
  width: 100%;
  border-bottom: 1px dotted;
  border-color: #DDDDDD;
  padding-bottom: 0.5em;
}
