# temp以下は不要
myapp/tmp/
# DS_Storeファイルもいらない
.DS_Store
# logファイルも除外する
*.log
myapp/log/
# oldフォルダも除外
old/
# node_modulesも除外
myapp/node_modules/
# swpファイルも除外
*.swp
# .idea下はrubymineの設定なので除外
myapp/.idea/
# docker-buildのたびに生成されるので除外
myapp/public/packs
myapp/public/packs-test
