/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


span.labels {
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
}

span.labels.bug {
    color: red;
    background: rgba(255, 0, 0, 0.2);
}

span.labels.feature {
    color: green;
    background: rgba(0, 255, 34, 0.2);
}

span.labels.modification {
    color: dodgerblue;
    background: rgba(21, 152, 239, 0.2);
}

input[type="checkbox"] {
    margin-right: 5px;
}

.dialog, table {
    box-shadow: 0 0 0 1px rgba(10, 11, 12, .1);
    border-radius: 5px;
}

.navbar, table {
    box-shadow: 0 0 0 1px rgba(10, 11, 12, .1);

}

.status_open {
    border-left: 5px solid #42526e
}

.status_in_progress {
    border-left: 5px solid #0052cc
}

.status_done {
    border-left: 5px solid #00875a
}