
.task_group_1 {
    background-color: #b93b0075;
}
.task_group_2 {
    background-color: #2a92bf88;
}
.task_group_3 {
    background-color: #00b960a2;
}
.task_group_4 {
    background-color: #f4ce46af;
}
