article[data-status='started'] {
    background-color: red;
  }

.task {
    background-color: #b93b00c5;
}
.progress {
    background-color: #2A92BF;
}
.done {
    background-color: #00B961;
}
.test {
    background-color: #F4CE46;
}
