.task_table__name {
  width: 30%;
}

.task_table__priority {
  width: 10%;
}

.task_table__status {
  width: 10%;
}

.task_table__expired_date {
  width: 20%;
}

.task_table__description {
  width: 30%;
}
