.task_list__task_row {
  width: 80%;
}

.task_list__task_name_font {
  text-decoration: none;
}

.task_list__task_names {
  width: 40%;
}

.task_list__labels {
  width: 40%;
}

.task_list__handle {
  width: 20%;
}
