.user_details__item_row {
  margin: 1%;
}

.user_details__user_name {
  border-bottom-style: ridge;
}

.user_details__description_wrapper {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  color: black;
}
