.task-index
  .tasks-table
    table-layout: fixed
  .th-id
    width: 5%
  .th-status
    width: 12%
  .th-title
    width: 20%
  .th-description
    width: 25%
  .th-created-at
    width: 15%
  .th-end-date
    width: 16%
