.DS_Store
.vscode/*
.devcontainer/*
# Ignore all logfiles and tempfiles.
myapp/log/*
myapp/tmp/*
!/log/.keep
!/tmp/.keep

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore Byebug command history file.
.byebug_history

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads
/public/packs
/public/packs-test

# Ignore node_modules
/node_modules

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity