<div class="row p-2">
  <div class="col-md-6 offset-3">
    <h2>Sign Up</h2>
    <div class="dialog bg-white p-5 mb-3">
      <%= render 'form', user: @user, type: 'signup' %>

      <p>Already member? <%= link_to "Sing in now!", login_path %></p>
    </div>
  </div>
</div>